<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Following</title>

	<link rel="shortcut icon" href="/assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/assets/css/main.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/assets/js/headroom.min.js"></script>
	<script src="/assets/js/jQuery.headroom.min.js"></script>
	<script src="/assets/js/template.js"></script>
    <script src="/javascript/following.js"> </script>
    <script type="text/javascript">
        var data1 =<%-JSON.stringify(data)%>;
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.js"></script>
	<script src="/assets/js/respond.min.js"></script>

	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" width="50 px" height="50 px" alt="Pronet" ></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-left">
                    <li><a href="/feeds">Home</a></li>
                    <li><a href="/userprofile" >Profile</a></li>
                    <li class="active"><a href="/userfollowing">Following</a></li>
                    <li><a href="/jobs">Jobs</a></li>
                    <li><a href="/applications">Applications</a></li>
                    <li><a href="/connect">Connect</a></li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li><a class="btn" href="/signout">Sign out</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->


	<header id="head" class="secondary"></header>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<!--Card with Media-->    

    <div class="container" margin-top="30px">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
            <div class="media" id="addcompanyfollow">
                <div class="row">
                    <div class="col-lg-12 pull-left">
                        <h2>
                        <span class="textarea" name="education">Companies followed : </span>
                        </h2>
                    </div>
                </div>

               <!-- <div class="col-lg-2 col-sm-5 text-center">
                    <img class="img-circle img-responsive img-center" style = "width: 100px; height:100px;" src="assets/images/varuna.jpg" alt="">
                    <h5>Company Name</h5>
                </div>


                <div class="col-lg-2 col-sm-5 text-center">
                    <img class="img-circle img-responsive img-center" style = "width: 100px; height:100px;" src="assets/images/varuna.jpg" alt="">
                    <h5>Company Name</h5>
                </div>
-->
            </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
            <div class="media" id="adduserfollow">
                <div class="row">
                    <div class="col-lg-12 pull-left">
                        <h2>
                        <span class="textarea" name="education">People followed : </span>
                        </h2>
                    </div>
                </div>
                <!--
                <div class="col-lg-2 col-sm-5 text-center">
                    <img class="img-circle img-responsive img-center" style = "width: 100px; height:100px;" src="assets/images/varuna.jpg" alt="">
                    <h5>Company Name</h5>
                </div>


                <div class="col-lg-2 col-sm-5 text-center">
                    <img class="img-circle img-responsive img-center" style = "width: 100px; height:100px;" src="assets/images/varuna.jpg" alt="">
                    <h5>Company Name</h5>
                </div>


                <div class="col-lg-2 col-sm-5 text-center">
                    <img class="img-circle img-responsive img-center" style = "width: 100px; height:100px;" src="assets/images/varuna.jpg" alt="">
                    <h5>Company Name</h5>
                </div>
            -->

            </div>
            </div>
        </div>
    </div>         
</div>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>
